// 主色
$mc0a: #0AC5B0;
$mcff: #FF8E00;

// 文字
$mc30: #303030;
$mc6b: #6B6B6B;
$mc9a: #9A9A9A;
$mcaf: #AFB0BC;
$mcd7: #D7D7DC;
$mcfe: #FE5742;

// 辅色
$mcec: #ECECEC;
$mcf8: #F8F8F8;
$mcfa: #FAFAFA;
$mc57: #576B95;
$mc00: #000000;

// 渐变色
$mbgc07: linear-gradient(90deg, #07DEB0, #06CCB5);
$mbgcfb: linear-gradient(90deg, #FBC347, #FBAF10);
$mbgcff: linear-gradient(90deg, #FFAE65, #FF964F);
$mbgc64: linear-gradient(90deg, #64BBFF, #2C9EFF);
$mbgc87: linear-gradient(90deg, #87B2F9, #4F79FF);
$mbgcfe: linear-gradient(90deg, #FE96BA, #FF6694);
$mbgce9: linear-gradient(90deg, #E9E9E9, #C9CDCD);
